@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #ffffffdb;
  margin: 0;
  padding: 0;
  background-color: #222;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

h2 {
  text-align: center;
}

.form-container {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: 50%;
}

input[type="text"],
input[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 7px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #ffffffdb;
  font-family: Montserrat;
  font-weight: 600;
}

input[type="text"]:focus{
  outline: 2px solid #555;
}

input[type="submit"] {
  background-color: #88ac81;
  width: 100%; 
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #63885c;
}

select {
  width: calc(100%);
  padding: 10px;
  margin: 7px 0;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #ffffffdb;
  font-size: 16px;
}

.hidden {
  display: none;
}

#etc a {
  text-align: center;
  text-decoration: none;
  color: #88ac81;
}

#etc a:hover {
  text-decoration: underline;
}
