RewriteEngine on

RewriteBase /cryptovault/

RewriteRule ^(index|psu|miner|cb|add-cb|add-cbs|add-fan|add-psu|add-psus|add-miner|add-miners|locations|customers|location-cb|location-miner|location-fan|location-psu|location|customer|customer-psu|customer-miner|customer-fan|customer-cb|add-location|add-customer|logout|login|search)$ $1.php [NC,L]
